In [ ]:
import util
import config
from importlib import reload

reload(util)

de = util.DataExtractor()

data = de.normalizedData()

Saving to: ..\ds2_dense\ds2_dense\train_normalized.json

In [2]:
data.head()

,img_id,filename,x,y,w,h,class_id
0,679,lg-877777775968732096-aug-gonville--page-3.png,0.500000,0.050160,0.904566,0.019482,135
1,679,lg-877777775968732096-aug-gonville--page-3.png,0.500000,0.099593,0.904566,0.019482,135
2,679,lg-877777775968732096-aug-gonville--page-3.png,0.779720,0.163565,0.012752,0.000872,2
3,679,lg-877777775968732096-aug-gonville--page-3.png,0.780337,0.168363,0.011518,0.000582,2
4,679,lg-877777775968732096-aug-gonville--page-3.png,0.757713,0.163565,0.012341,0.000872,2